*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header a{
    color: black;
}

/* header */
header{
    height: 70px;
    width: 100%;
    position: fixed;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    padding: 0px 50px 0px 20px;
}

ul li a{
    text-decoration: none;
    color: black;
}

.headline ul li a:hover{
    color: rgb(33, 108, 123);
    border-bottom:1px solid rgb(33, 108, 123);
}

form{
    position: relative;
}

form input[type="text"]{
    border: none;
    width: 300px;
    padding: 5px;
    transition: 0.5s ease;
    border-radius: 10px;
}

form input[type="text"]:focus{
    width: 500px;
}

form button{
    border: none;
    background: inherit;
    position: absolute;
    margin-left: -25px;
    margin-top: 7px;
}

.member{
    position: relative;
    display: flex;
    align-items: center;
    gap: 0;
}

.member .circle{
    position: absolute;
    width: 8px;
    height: 8px;
    top:0;
    /* margin-top: 7px; */
    margin-left: 30px;
    background: #6aff00;
    border-radius: 50%;
}

.member .icon-member{
    position: relative;
    border-radius: 50px;
    width: 45px;
    height: 45px;
    border: 2px solid rgb(215, 212, 212);
}

select{
    border-radius: 5px;
    align-items: center;
    cursor: pointer;
}

.member ul li a{
    background: #888888;
    margin-left: -20px;
}

.member ul li{
    display:inline;
}

.member ul li ul{
    display: none;
}

.member ul li ul li{
    display: block;
}

/* main */

main {
    display: flex;
}

.box-left{
    width:251px ;
    height:1000vh;
    background: rgb(255, 255, 255);
    border-left: 1px solid rgb(190, 187, 187);
    border-right: 1px solid rgb(190, 187, 187);
    position: fixed;
}

.content-box-left{
    width: 250px;
    border-left: 1px solid rgb(190, 187, 187);
    border-right: 1px solid rgb(190, 187, 187);
    background: rgb(255, 255, 255);
    padding:120px 10px 0px 10px;
    max-height: 100vh;
    overflow-y: scroll;
    position: fixed;
}

.content-box-left {
    scrollbar-width: thin; /* Đặt kích thước mỏng cho thanh cuộn */
    scrollbar-color: #888888 #ffffff; /* Đặt màu cho thanh cuộn */
  }
  
  /* Cho trình duyệt Chrome */
.content-box-left::-webkit-scrollbar {
    width: 3px; /* Đặt độ rộng cho thanh cuộn */
}
  
.content-box-left::-webkit-scrollbar-thumb {
    background-color: #888888; /* Đặt màu cho phần thân của thanh cuộn */
}
  
.content-box-left::-webkit-scrollbar-track {
    background-color: #ffffff; /* Đặt màu cho phần nền của thanh cuộn */
}

.radius{
    border-radius: 5px;
}

.center{
    flex: 1;
    background: rgb(240, 237, 237);
    padding: 120px 30px 50px 310px;
}

.box1{
    display: flex;
    gap:20px;
}

.turnover{
    flex: 1;
    background: white;
    padding: 20px 20px 10px 20px;
}

.statistic-prd{
    flex: .5;
    background: white;
    width: 500px;
}

.sattistic{
    flex: 1;
    background: white;
   
}

.ct-sattistic{
    display: grid;
    gap: 10px;
}

.user-order{
    display: flex !important;
    margin:10px 10px 0px 10px;
    gap: 10px;
}

.users, .orders{
    background: #f1eded;
    text-align: center;
    flex: 1;
    height: 170px;
}

.users .icon-user, .orders .icon-orders{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 7px;
    background: rgb(218, 218, 228);
    font-size: 20px;
}

.users a, .orders a{
    text-decoration: none;
    color: black;
}

.users #count-users,.orders #count-prd{
    overflow: hidden;
    font-size: 40px;
}

.day-revenue{
    background: rgb(179, 182, 245);
    margin:0px 10px 10px 10px;
}

.headline{
    display: flex;
    justify-content: space-around;
}

.headline ul li{
    display: inline-block;
    margin-right: 10px;
}

/* sản phẩm của tháng */
.box2{
    display: flex;
    margin-top: 30px;
    gap: 20px;
}

.prds-on-month{
    flex: 1;
    background: white;
}

.dmuc{
    flex: .7;
    background: white;
}

.prds-on-month h3,.dmuc h3{
    margin: 10px;
}

.table-dmuc,.table-prds-on-month{
    border: 1px solid rgb(183, 178, 178);
    padding: 10px;
    margin: 10px;
}

.table-dmuc .table{
    text-align: center;
}